/* COLORS
--------------------------------------------------- */
$color-blue-3: #448afd;
$color-blue-4: #0069ff;
$color-blue-5: #0563ff;

$color-green-5: #05dfd7;
$color-pink-5: #ec7373;
$color-brown-5: #d8b5b5;
$color-yellow-5: #ffe196;

$color-purple-5: #6352d6;

// Text colors
$color-purple: #b392f0;
$color-orange: #ffab70;
$color-blue: #79b8ff;
$color-blue-dark: #0563ff;
$color-red: #f97583;
$color-green: #85e89d;
$color-green-dark: #34d058;

// Background colors
$background-color-blue: #2188ff;

/* RESPONSIVE
--------------------------------------------------- */
// $breakpoints: (
//   phone: 640px,
//   tablet: 768px,
//   desktop: 1024px
// ) !default;
